/* Small devices (landscape phones, 576px and up) */
@media (min-width: 10px) {
     .piechartDiv {
        height: 130px;
        margin-top: 1%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
     .piechartDiv {
        height: 140px;
        margin-top: 2%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .piechartDiv {
        height: 200px;
        margin-top: 2%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .piechartDiv {
        height: 210px;
        margin-top: 2%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .piechartDiv {
        height: 250px;
    }

}
